{% load static %}
{% block styles %}
    <link rel="stylesheet" href="{% static 'css/base_pages/topnav.css' %}">
{% endblock %}

<div class="topnav-content">
    {% if user.is_authenticated %}
        <div class="topnav-core">
            <a href="{% url 'dashboard' %}" class="topnav-title">Guiana</a>
            <form method="get" action="{% url 'search_results' %}" class="search-form">
                <!-- Important field to POST the user input symbol for searching. Used in dashboard/views.py. -->
                <label for="search_symbol"><i class="fal fa-search"></i></label>
                <input type="text" name="search_symbol" id="" placeholder="Symbol, eg. AAPL" spellcheck="false"></input>
            </form>
            <a href="{% url 'dashboard' %}" class="tc-links">Dashboard</a>
        </div>
        <div class="topnav-auth-links">
            <a href="{% url 'settings' %}">Settings</a>
            <a href="{% url 'logout' %}">Logout</a>
        </div>
    {% else %}
        <a href="" class="topnav-title">Guiana</a>
        <div class="topnav-auth-links">
            <a href="{% url 'register' %}">Register</a>
            <a href="{% url 'login' %}">Login</a>
        </div>
    {% endif %}
</div>