/* 
    CSS file for the project base template.
*/

* {
    box-sizing: border-box;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    scroll-behavior: smooth;
    padding: 0;
    margin: 0;
}

:root {
    --white: #fff;
    --black: #000;
    --dark-grey: #0B131D;
    --mid-grey: #6a6d78;
    --light-grey: #e0e0e0;
    --blue: #420FE7;
    --blue-pale: #E8F0FE;
    --border-color: #E0E3EB;

    --p-small-no-r: 16px;
}

@font-face {
    font-family: 'InterReg';
    src: url("../../fonts/Inter/static/Inter-Regular.ttf");
}

@font-face {
    font-family: 'InterBold';
    src: url("../../fonts/Inter/static/Inter-Bold.ttf");
}

html, body { height: 100%; }

p { font-family: 'InterReg'; }

input[type=text] {
    border:0;
    font-family: 'InterReg';
    font-size: 0.9rem;
}

.app {
    min-height: 100%;
    display: grid;
    grid-auto-rows: 80px calc(100% - 180px) 100px;
}

/* Styling for top navigation bar wrapper. */
.topnav {
    grid-row: 1;
    height: 80px;
    display: flex;
    align-items: center;
    padding: 0 15%;
    border-bottom: 1px solid var(--border-color);
    color: var(--black);
}

/* Styling for "main" - main container for webapp content. */
.main {
    grid-row: 2;
    height: auto;
    padding: 0 15%;
}

/* Styling for bottom navigation bar wrapper. */
.botnav {
    grid-row: 3;
    height: 100px;
    display: grid;
    align-items: center;
    border-top: 1px solid var(--border-color);
    color: var(--black);
}