/* 
    CSS for project bot navigation bar
*/

.botnav-cr {
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 15%;
}

.botnav-cr > .botnav-credits {
    font-size: 0.9rem;
}

.botnav-cr > .botnav-credits > a{
    text-decoration: none;
    color: var(--blue);
}