/* 
    CSS for the project base top navigation bar.
*/

.topnav-content {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.topnav-title {
    text-decoration: none;
    font-family: 'InterReg';
    font-size: 1.1rem;
    color: var(--white);
}

.topnav-links input[type=text] {
    height: 30px;
    padding: 6px 12px;
    border: 0;
    border-radius: 6px;
    font-family: 'InterReg';
}

.topnav-links input[type=text]:focus {
    outline:  none;
}

.topnav-links input[type=submit] {
    height: 30px;
    padding: 7px 14px;
    margin-left: 5px;
    border: 0;
    border-radius: 6px;
    font-family: 'InterReg';
}

.topnav-auth-links a {
    margin-left: 15px;
    text-decoration: none;
    font-family: 'InterReg';
    color: var(--white);
}