/* 
    CSS for the project base top navigation bar.
*/

.topnav-content {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.topnav-title {
    text-decoration: none;
    font-family: 'InterBold' !important;
    font-size: 1.3rem;
    color: var(--black);
}

.topnav-core {
    display: flex;
    align-items: center;
}

.topnav-core > .tc-links {
    margin-left: 20px;
    text-decoration: none;
    font-family: 'InterReg';
    color: var(--black);
}

.topnav-core > .search-form {
    display: flex;
    align-items: center;
    margin-left: 5vw;
    padding: 10px 20px;
    border-radius: 10px;
    font-family: 'InterReg';
    background-color: var(--blue-pale) !important;
    color: var(--black);
}

.topnav-core input[type=text] {
    margin-left: 15px;
    background-color: var(--blue-pale) !important;
}

.topnav-core input[type=text]::placeholder {
    color: var(--mid-grey);
}

.topnav-core input[type=text]:focus {
    outline:  none;
}

.topnav-core input[type=text] > label {
    color: var(--mid-grey);
}

.topnav-auth-links a {
    margin-left: 15px;
    text-decoration: none;
    font-family: 'InterReg';
    font-size: var(--p-small-no-r);
    color: var(--black);
}