{% extends "base_pages/dashboard_base.html" %}
{% load static %}
{% load dashboard_filters %}
{% block styles %}
    <link rel="stylesheet" href="{% static 'css/base_pages/dashboard_base.css' %}">
    <link rel="stylesheet" href="{% static 'css/dashboard/dashboard.css' %}">
{% endblock %}

{% block dashboard-title %}
    <p>Welcome, {{ user.username }}!</p>
{% endblock dashboard-title %}

{% block dashboard-content %}
    <!-- TODO: Show headline news -->
    <div class="latest-news-container">
        {% for news in latest_news %}
            <div class="news-item">
                <a class="news-headline" href="{{ news|get_item:'url' }}" target="_blank">
                    <img class="news-image" src="{{ news|get_item:'image'}}"></img>
                    {{ news|get_item:'headline' }}
                </a>
            </div>
        {% endfor %}
    </div>
    <div class="dashboard-grid">
        <div class="dashboard-grid-item fundamental">
            <p class="dgi-title">
                <span class="dgi-title-circle purple"></span>
                <span class="dgi-title-text">analysis tools</span>
            </p>
            <a href="" class="dgi-link">
                <i class="fas fa-analytics"></i>
                <span>Company Financials</span>
            </a>
            <a href="" class="dgi-link">
                <i class="fas fa-analytics"></i>
                <span>Price Forecasting</span>
            </a>
            <a href="" class="dgi-link">
                <i class="fas fa-analytics"></i>
                <span>Recommended Instruments</span>
            </a>
        </div>
    </div>
{% endblock %}