/* 
    CSS for project dashboard page.
*/

.latest-news-container {
    width: 70vw;
    display: flex;
    white-space: nowrap;
    position: relative;
    overflow-x: scroll;
    overflow-y: hidden;
    -webkit-overflow-scrolling: touch;
}

.latest-news-container > .news-item {
    width: 24.5%;
    float: none;
    height: 90%;
    margin-right: 20px;
    display: flex;
    flex-direction: column;
    zoom: 1;
}

@media (max-width: 992px) {
    .latest-news-container > .news-item {
        width: 30%;
    }
}

.latest-news-container > .news-item > .news-headline {
    text-decoration: none;
    font-family: 'InterBold';
    font-size: 0.75rem;
    color: var(--black);
    word-break: normal;
    white-space: normal;
}

.latest-news-container > .news-item > .news-headline > .news-image {
    max-width: 190px;
    height: 100px;
    margin-bottom: 10px;
    border-radius: 4px;
}

.dashboard-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 5%;
    padding: 5vh 0 3vh 0;
}

@media (max-width: 992px) {
    .dashboard-grid {
        grid-template-columns: repeat(3, 1fr);
    }
}

.dashboard-grid-item > .dgi-title {
    display: flex;
    padding-bottom: 10px;
    font-family: 'InterBold';
    font-size: 0.9rem;
    color: var(--black);
}

.dashboard-grid-item > .dgi-title > .dgi-title-circle {
    width: 10px;
    height: 10px;
    margin-top: 4px;
    border-radius: 50%;
    margin-right: 5px;
    background-color: var(--blue);
}


.dashboard-grid-item > .dgi-title > .dgi-title-text {
    text-transform: uppercase;
    color: var(--grey);
}

.dashboard-grid-item > .dgi-link {
    width: 100%;
    display: flex;
    align-items: center;
    text-decoration: none;
    border-radius: 7px;
    padding: 10px;
    margin: 5px 0;
    font-family: 'InterReg';
    font-size: 0.9rem;
    color: var(--black);
}

.dashboard-grid-item > .dgi-link > i {
    margin-right: 10px;
    color: var(--blue);
}
