/* 
    CSS for financial instrument search results
*/

.symbol-price {
    
}

.symbol-price > .last-close {
    font-family: 'InterBold';
    font-size: 2rem;
}

.symbol-price > .last-close-date {
    font-family: 'InterReg';
    font-size: 0.8rem;
}

.symbol-core-data-container {
    display: grid;
    grid-template-columns: 65% 30%;
    grid-gap: 5%;
}

.symbol-candlesticks { width: 100% !important;}

@media (max-width: 992px) {
    .symbol-core-data-container {
        display: block;
    }
}

.symbol-data {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 5%;
    margin: 3% 0;
}

.symbol-data-item {
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
}

.symbol-data-item span {
    font-family: 'InterReg';
    font-size: 0.85rem;
}

.symbol-data-column hr {
    height: 1px;
    border: 0;
    background-color: var(--matcha-ll);
}
