/* 
    CSS for financial instrument search results
*/

/* Symbol name, exchange, exchange code section */
.symbol-name {
    display: flex;
    grid-column-gap: 20px;
}

.symbol-name > .symbol-title h1 {
    font-family: 'NoahBold';
    font-size: 1.75rem;
}

.symbol-name > .symbol-title  p {
    font-size: 0.85rem;
}

/* Symbol price overview (current price, last updated) */
.symbol-price-section { display: flex; flex-direction: column;}

.symbol-price-section > .last-price-wrapper {
    font-family: 'NoahBold';
    font-size: 2.2rem;
}

.symbol-price-section > .last-price-wrapper > .symbol-currency {
    font-family: 'InterReg';
    font-size: 0.8rem;
}

.symbol-price-section > .last-price-wrapper > .symbol-pd, .symbol-pdp {
    font-family: 'InterReg';
    font-size: 1rem;
}

.symbol-price-section > .last-date {
    font-family: 'InterReg';
    font-size: 0.8rem;
}

.symbol-analytics:not(.show) { display: none !important; }
.symbol-analytics.show {display: block;}

/* Symbol analysis sections navigation */
.symbol-analysis-nav {
    margin: 15px 0;
    display: flex;
    align-items: center;
}

.symbol-analysis-nav > .symbol-nav-btn {
    width: 100px;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    transition: all .5s ease;
    font-family: 'SSProReg';
    font-size: 18px;
    background-color: var(--white);
    border-bottom: 2px solid var(--light-grey);
}

.symbol-analysis-nav > .symbol-nav-btn.active {
    border-bottom: 2px solid var(--blue);
    color: var(--blue);
}

/* Symbol candlesticks section */
.symbol-candlesticks {
    display: grid !important;
    grid-template-columns: 65% 30%;
    grid-gap: 5%;
}

.candlesticks-canvas { width: 100% !important;}

.analytics-grid-item {
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
}

.analytics-grid-item span {
    font-family: 'InterReg';
    font-size: 0.85rem;
}

.analytics-grid-column hr {
    height: 1px;
    border: 0;
    background-color: var(--matcha-ll);
}

/* Symbol news section */
.symbol-news {
    margin: 20px 0;
    display: grid !important;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 5%;
}

.symbol-news > .news-item {
    display: grid;
    grid-template-columns: 150px calc(100% - 150px);
    grid-gap: 10px;
    zoom: 1;
}

.symbol-news > .news-item > div > p { font-size: 0.7rem; }


.symbol-news > .news-item > .news-image {
    width:  150px;
    height: 100px;
    object-fit: cover;
    margin-bottom: 10px;
    border-radius: 4px;
}

.symbol-news > .news-item > div > .news-headline {
    font-family: 'InterReg';
    font-size: 0.85rem;
    color: var(--blue);
}


/* Responsive design */
@media (max-width: 992px) {
    .analytics-grid {
        margin: 20px 0;
    }

    .symbol-news > .news-item > div > .news-headline {
        width: 100px;
        display: inline-block;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        font-family: 'InterReg';
        font-size: 0.85rem;
        color: var(--blue);
    }    
}