/* 
    CSS for financial instrument search results
*/

.symbol-details {
    display: flex;
    grid-column-gap: 20px;
}

.symbol-details > .symbol-title h1 {
    font-family: 'NoahBold';
    font-size: 1.75rem;
}

.symbol-details > .symbol-title  p {
    font-size: 0.85rem;
}

.symbol-price > .last-close {
    font-family: 'NoahBold';
    font-size: 2.2rem;
}

.symbol-price > .last-close-date {
    font-family: 'InterReg';
    font-size: 0.8rem;
}

.symbol-core-data-container {
    display: grid;
    grid-template-columns: 65% 30%;
    grid-gap: 5%;
}

.symbol-candlesticks { width: 100% !important;}

@media (max-width: 992px) {
    .symbol-core-data-container {
        display: block;
    }

    .symbol-data {
        margin: 20px 0;
    }
}

.symbol-data-item {
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
}

.symbol-data-item span {
    font-family: 'InterReg';
    font-size: 0.85rem;
}

.symbol-data-column hr {
    height: 1px;
    border: 0;
    background-color: var(--matcha-ll);
}

.symbol-news {
    margin: 20px 0;
}

.symbol-news > .news-item {
    display: flex;
    grid-gap: 10px;
    zoom: 1;
}

.symbol-news > .news-item > div > p {
    font-size: 0.7rem;
}

.symbol-news > .news-item > div > .news-headline {
    text-decoration: none;
    font-family: 'InterReg';
    font-size: 0.85rem;
    color: var(--black);
}

.symbol-news > .news-item > .news-image {
    width:  150px;
    height: 100px;
    object-fit: cover;
    margin-bottom: 10px;
    border-radius: 4px;
}